.selectBoxContainer {
  width: 100%;
  height: 3rem;

  .selectBox {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    font-size: 14px;
    display: block;
    line-height: 2.15;
    margin: 0;
    position: relative;

    .selectedOption {
      user-select: none;
      padding: 5px;
      cursor: pointer;
      
      .placeholder {
        color: gray;
      }
    }

    ul.options {
      max-height: 0;
      position: absolute;
      top: 3rem;
      left: 0;
      right: 0;
      overflow: hidden;
      transition: .2s ease-in;
      margin: 0;
      background: white;
      box-shadow: 0 0 3px silver;
      border-radius: 0 0 4px 4px;
      z-index: 1;
      display: flex;

      li.option {
        user-select: none;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background: whitesmoke;
        }
      }

      li.noResults {
        user-select: none;
        padding: 5px;
        color: gray;
        text-align: center;
      }

      .searchInputContainer {
        input {
          margin: 0;
        }
      }
    }

  }

  &.open {
    .selectBox {
      ul.options {
        max-height: 200px;
      }  
    }
  }

  &.reversed {
    .selectBox {

      ul.options {
        border-radius: 4px 4px 0 0;
        top: unset;
        bottom: 3rem;
        flex-direction: column-reverse;
      }
    }
  }
}